{% extends 'base.html' %}

{% block title %}
All Page
{% endblock %}


{% block content %}


<div class="row">
    {% for p in pages %}
    <div class="col-3 m-3">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{ p.title }}</h5>
                <p class="card-text">{{ p.description | truncatechars:100 }}</p>
                <a href="#" class="btn btn-info">Edit</a>
                <a href="{% url 'delete_page' p.pk %}" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>


{% endblock %}